{% extends "base.html" %}

{% block title %}
    <title>หน้าแรก</title>
{% endblock title %}    

{% block content %}
<section class="content-section content-section-single">
    <div class="alert alert-secondary" role="alert">
        ถ้าไม่พบชื่อคุณกรุณาไปอัปเดทโปรไฟล์
        <a href="/profile">คลิกที่นี่</a>
        หรือ <a href="https://www.facebook.com/IHasAnkles/">ติดต่อผู้ดูแลระบบ</a>
    </div>

    
    
    <h2 class="text-center">อันดับ</h2>
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">อันดับ</th>
            <!-- <th scope="col">ไอดี</th> -->
            <th scope="col">ชื่อ</th>
            <th scope="col">แต้ม</th>
        </tr>
        </thead>
        <tbody>
            {% for  profile in page.object_list  %}
                <tr>
                    {% if page.number == 1 %}
                    <th scope="row">{{ forloop.counter0|add:1 }}</th>
                    {% elif page.number == 2 %}
                        <th scope="row">{{ forloop.counter0|add:6 }}</th>
                    {% elif page.number == 3 %}
                        <th scope="row">{{ forloop.counter0|add:11 }}</th>
                    {% else %}
                        <th scope="row">{{ forloop.counter0|add:16 }}</th>
                    {% endif %}
                    <!-- <td >{{profile.user.id}}</td> -->
                    <td>{{profile.user.username}}</td>
                    <td>{{profile.point}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page.num_pages > 1 %}
    <div class="pagination">
        <p class="page-links">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" style="margin-right: 6px;">ย้อนกลับ</a>
            {% endif %}
            <p class="page-current">
                หน้า {{ page.number }} จาก {{page.paginator.num_pages }}
            </p>
            <!-- &sort=point&order=desc -->
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }} "style="margin-left: 6px;">ถัดไป</a>
            {% endif %}
        </p>
    </div>
    {% endif %}
</section>
{% endblock content %}
