{% extends "base.html" %}

{% block title %}
    <title>ขอบคุณสำหรับการสมัครสมาชิก</title>
{% endblock title %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
        <h3 class="content-title">ขอบคุณสำหรับการสมัครสมาชิก</h3>
        <p>กรุณาตรวจสอบอีเมล์ของคุณและกดลิงค์ที่ส่งไปในอีเมล์ของคุณ</p>
        <p>
            <a class="button button-primary" href="/login">เข้าสู่ระบบ</a>
        </p>
        </div>
    </section>
    
{% endblock content %}