{% extends "base.html" %}

{% block title %}
    <title>ประวัติ</title>
{% endblock title %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
        <h3 class="content-title">สวัสดี {{ user.username }}</h3>
        <p>
        <a href="{% url 'trasaction' %}">ประวัติการโอน</a>
        <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
        <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
        </p>
        <hr>
        <h4 class="content-title">ประวัติ</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ผู้ส่ง</th>
                <th scope="col">ผู้รับ</th>
                <th scope="col">แต้ม</th>
                <th scope="col">เวลา</th>
            </tr>
            </thead>
            {% if user.is_staff %}
            <tbody>
                {% for transaction in all_page_obj %}
                <tr>
                    <td scope="row">{{ transaction.sender }}</td>
                    <td>{{ transaction.recipient }}</td>
                    <td>{{ transaction.points }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
            {% if all_paginator.num_pages > 1 %}
                <div class="pagination">
                    <p class="page-links">
                        {% if all_page_obj.has_previous %}
                            <a href="?page={{ all_page_obj.previous_page_number }}" style="margin-right: 6px;">ย้อนกลับ</a>
                        {% endif %}
                        <p class="page-current">
                            หน้า {{ all_page_obj.number }} จาก {{ all_page_obj.paginator.num_pages }}
                        </p>
                        {% if all_page_obj.has_next %}
                            <a href="?page={{ all_page_obj.next_page_number }}" style="margin-left: 6px;">ถัดไป</a>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            {% else %}
            <!-- {% for transaction in  user_page_obj %}
            <tr>
                <td scope="row">{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.points }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
            {% for transaction in  recipient_page_obj %}
            <tr>
                <td scope="row">{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.points }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %} -->
            {% for transaction in combined_page_obj %}
                <tr>
                    <td scope="row">{{ transaction.sender }}</td>
                    <td>{{ transaction.recipient }}</td>
                    <td>{{ transaction.points }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            
            </tbody>
        </table>
        {% if combined_paginator.num_pages > 1 %}
        <div class="pagination">
            <p class="page-links">
                {% if combined_page_obj.has_previous %}
                    <a href="?page={{ combined_page_obj.previous_page_number }}" style="margin-right: 6px;">ย้อนกลับ</a>
                {% endif %}
                <p class="page-current">
                    หน้า {{ combined_page_obj.number }} จาก {{ combined_page_obj.paginator.num_pages }}
                </p>
                {% if combined_page_obj.has_next %}
                    <a href="?page={{ combined_page_obj.next_page_number }}" style="margin-left: 6px;">ถัดไป</a>
                {% endif %}
            </p>
        </div>
    {% endif %}
    </section>
{% endblock content %}

<!-- {% if transactions.has_other_pages %}
                <ul class="pagination">
                    {% if transactions.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ transactions.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
                    {% for page_number in paginator.page_range %}
                        {% if page_number == transactions.number %}
                            <li class="page-item active">
                                <span class="page-link">{{ page_number }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if transactions.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                </ul>
            {% endif %} -->

<!-- 
            {% if recipient_paginator.num_pages > 1 %}
                <div class="pagination">
                    <p class="page-links">
                        {% if recipient_page_obj.has_previous %}
                            <a href="?page={{ recipient_page_obj.previous_page_number }}" style="margin-right: 6px;">ย้อนกลับ</a>
                        {% endif %}
                        <p class="page-current">
                            หน้า {{ recipient_page_obj.number }} จาก {{ recipient_page_obj.paginator.num_pages }}
                        </p>
                        {% if recipient_page_obj.has_next %}
                            <a href="?page={{ recipient_page_obj.next_page_number }}" style="margin-left: 6px;">หน้าต่อไป</a>
                        {% endif %}
                    </p>
                </div>
            {% endif %} -->