{% extends "base.html" %}

{% block title %}
    <title>ประวัติ</title>
{% endblock title %}

{% block content %}
{% load tz %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
        <h3 class="content-title">สวัสดี {{ user.username }}</h3>
        <p>
        <a href="{% url 'trasaction' %}">ประวัติการโอน</a>
        <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
        <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
        </p>
        <hr>
        <h4 class="content-title">ประวัติ</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ผู้ส่ง</th>
                <th scope="col">ผู้รับ</th>
                <th scope="col">แต้ม</th>
                <th scope="col">เวลา</th>
            </tr>
            </thead>
            {% if user.is_staff %}
            <tbody>
                {% for transaction in all_page_obj %}
                <tr>
                    <td scope="row">{{ transaction.sender }}</td>
                    <td>{{ transaction.recipient }}</td>
                    <td>{{ transaction.points }}</td>
                    <td>{{ transaction.timestamp}}</td>
                </tr>
                <!-- |localtime -->
            {% endfor %}
                

            {% else %}
            <!-- {% for transaction in  user_page_obj %}
            <tr>
                <td scope="row">{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.points }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
            {% for transaction in  recipient_page_obj %}
            <tr>
                <td scope="row">{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.points }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %} -->
            {% for transaction in combined_page_obj %}
                <tr>
                    <td scope="row">{{ transaction.sender }}</td>
                    <td>{{ transaction.recipient }}</td>
                    <td>{{ transaction.points }}</td>
                    <td>{{ transaction.timestamp}}</td>
                </tr>
            {% endfor %}
            {% endif %}
            
            </tbody>
        </table>
        {% if user.is_staff  %}
            {% if all_paginator.num_pages > 1 %}
            <div class="pagination">
                <p class="page-links">
                    {% if all_page_obj.has_previous %}
                        <a href="?page={{ all_page_obj.previous_page_number }}" style="margin-right: 6px;">ย้อนกลับ</a>
                    {% endif %}
                    <p class="page-current">
                        หน้า {{ all_page_obj.number }} จาก {{ all_page_obj.paginator.num_pages }}
                    </p>
                    {% if all_page_obj.has_next %}
                        <a href="?page={{ all_page_obj.next_page_number }}" style="margin-left: 6px;">ถัดไป</a>
                    {% endif %}
                </p>
            </div>
        {% endif %}
        {% else %}
        {% if combined_paginator.num_pages > 1 %}
        <div class="pagination">
            <p class="page-links">
                {% if combined_page_obj.has_previous %}
                    <a href="?page={{ combined_page_obj.previous_page_number }}" style="margin-right: 6px;">ย้อนกลับ</a>
                {% endif %}
                <p class="page-current">
                    หน้า {{ combined_page_obj.number }} จาก {{ combined_page_obj.paginator.num_pages }}
                </p>
                {% if combined_page_obj.has_next %}
                    <a href="?page={{ combined_page_obj.next_page_number }}" style="margin-left: 6px;">ถัดไป</a>
                {% endif %}
            </p>
        </div>
        {% endif %}
        {% endif %}
    </section>
{% endblock content %}