{% extends "base.html" %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
        <h3 class="content-title">เข้าสู่ระบบ</h3>
        <form action="{% url 'login' %}" method="POST">
            <!-- {% if user.is_active == 0 %}
            <p style="color: rgb(255, 72, 0);">กรุณายืนยันอีเมล์ก่อนเข้าใช้งาน</p>
            {% endif %} -->
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="form-field">
            <button class="button button-primary" type="submit">เข้าสู่ระบบ</button>
            </div>
            <p class="">
            <a href="{% url 'register' %}">สมัครสมาชิก</a>
            </p>
            <p>
                <a href="{% url 'password_reset' %}">ลืมรหัสผ่าน ?</a>
            </p>
        </form>
    </div>
{% endblock content %}