{% extends "base.html" %}

{% block title %}
    <title>ตั้งรหัสผ่านใหม่</title>
{% endblock title %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
        
        {% if validlink %}
        <h3 class="content-title">ตั้งรหัสผ่านใหม่</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="form-field">
                <button class="button button-primary" type="submit">เข้าสู่ระบบ</button>
            </p>
        </form>
        {% else %}
            <h3 class="content-title">ลิงค์ใช้ไม่ได้</h3>
            <p>ลิงค์อาจหมดอายุหรือเคยใช้ไปแล้ว</p>
            <p>
                <a class="button button-primary" href="/">กลับไปหน้าแรก</a>
            </p>
        {% endif %}

    </div>
{% endblock content %}