{% extends "base.html" %}

{% block title %}
    <title>รีเซ็ทรหัสผ่านเรียบร้อย</title>
{% endblock title %}

{% block content %}
    <section class="content-section content-section-single">
        <div class="content-container content-container-narrow">
        <h3 class="content-title">รีเซ็ทรหัสผ่านเรียบร้อย</h3>
        <p>คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ได้เลย</p>
        <p>
            <a class="button button-primary" href="/login">เข้าสู่ระบบ</a>
        </p>
    </div>
{% endblock content %}